.app .loginform {
  color: #0000ff;
}
.app .loginform button {
  border: 1px solid black;
  background-color: #ff0000;
  background-color: #0000ff;
}
.app .loginform button.primary {
  background-color: #0000ff;
}
.app .loginform button.primary:hover {
  background-color: darker(#ff0000, 10%);
}
.app .loginform button.submit {
  color: #00FF00;
}
