@import 'colors';
@import 'mixins';


.app {
  .loginform {
    color: @brand-blue;
    button {
      .button-baseline();
      background-color: @brand-blue;
      &.submit {
        color: @brand-green;
      }
    }
  }
}