.button-baseline() {
  border: 1px solid black;
  background-color: @brand-red;
  &.primary {
    background-color: @brand-blue;
    &:hover {
      background-color: darker(@brand-red,10%)
    }
  }
}

